<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p %d{yyyy-MM-dd HH:mm:ss.SSS}] %l [%m]%n" />
		</layout>
	</appender>

	<appender name="server" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/home/yudylaw/yudy/tmp/server.log" />
		<param name="MaxFileSize" value="1024MB" />
		<param name="MaxBackupIndex" value="300" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p %d{yyyy-MM-dd HH:mm:ss.SSS}] %l [%m]%n" />
		</layout>
	</appender>
	
	<appender name="client" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/home/yudylaw/yudy/tmp/client.log" />
		<param name="MaxFileSize" value="1024MB" />
		<param name="MaxBackupIndex" value="300" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p %d{yyyy-MM-dd HH:mm:ss.SSS}] %l [%m]%n" />
		</layout>
	</appender>
	
	<logger name="com.yudylaw.demo.nio.server">
		<level value="debug" />
		<appender-ref ref="server" />
	</logger>
	
	<logger name="com.yudylaw.demo.nio.client">
		<level value="debug" />
		<appender-ref ref="client" />
	</logger>
	
	<root>
		<level value="debug" />
		<appender-ref ref="stdout" />
		<!--<appender-ref ref="file"/>-->
	</root>
</log4j:configuration>